/*General*/
::-webkit-scrollbar {
    width: 0px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: white; /* Color of the scrollbar thumb */
    border-radius: 2px; /* Rounded corners for the scrollbar thumb */
}

/* For Firefox */
html {
    scrollbar-width: none;
    /* Width of the scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0) transparent;
    /* Color of the scrollbar thumb and track */
}


.fade-in {
    animation: fadeIn 3.0s forwards;
}

.fade-out {
    animation: fadeOut 1.0s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



/*Nav Bar*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.95);
    z-index: 9999;
    width: fit-content;
    max-width: 300px;
    padding: 1rem;transform: translateX(-100%);
    transition: transform 1.5s ease-in-out;
    visibility: hidden;
}

#overlay.show {
    transform: translateX(0);
    display: flex;
    visibility: visible;
}


/*Home*/
#home {
    background-position: center center;
    background-size: cover;
    height: calc(var(--vh, 1vh)* 100);
    overflow: hidden;
}


#text-content {
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    /* Adding text shadow */
}

.image-height {
    height: calc(var(--vh, 1vh)* 100);
}


/*About me*/
.contact-width-info {
    width: calc(48%);
}

/*projects*/
.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.project::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: top 0.5s;
}

.project:hover::before {
    top: 0;
}

.project:hover .project-name {
    opacity: 1;
}



/*portfolio*/
.portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio img {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.portfolio::before,
.portfolio::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(12, 12, 12, 0.65);
    transition: all 0.5s;
    z-index: 1;
}

.portfolio::before {
    left: -50%;
}

.portfolio::after {
    right: -50%;
}

.portfolio:hover::before {
    left: 0;
}

.portfolio:hover::after {
    right: 0;
}

.portfolio:hover .portfolio-name {
    opacity: 1;
    z-index: 2;
}



/*project & portfolio*/
.video-container {
    position: relative;
    width: 80%;
    /* 4/5th of 960px */
    padding-bottom: 45%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.JShidden {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
}